/* 노토산스 폰트 */
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); */
/* @font-face {
    font-family: 'Noto Sans Kr';
    font-style: normal;
    font-weight: 300;
    src:
      local('Noto Sans Light'),
      local('NotoSans-Light'),
      url('../font/Noto_Sans_KR/NotoSansKR-Light.otf') format('opentype');
} */
@font-face {
    font-family: 'Noto Sans Kr';
    font-style: normal;
    font-weight: 400;
    src:
      local('Noto Sans Regular'),
      local('NotoSans-Regular'),
      url('../font/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Kr';
    font-style: normal;
    font-weight: 700;
    src:
      local('Noto Sans Bold'),
      local('NotoSans-Bold'),
      url('../font/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype');
}



/* COMMON */
:root {
    --black : #111418;
    --grey1 : #8A93A4;
    --grey2 : #CED3D9;
    --grey3 : #DEE1E7;
    --grey4 : #f5f5f5;
    --green : #23CEC6;
    --orange : #F88A0A;
    --red : #F53E40;
    --primary: #1760F0;
    --primary1: #083378; 
    --primary3: #1760F0; 
    --primary4: #7AACFE; 
    --primary5: #2C94B9; 
    --primary6: #E1ECFF;
    --gnb-h : 43px;

    --margin1 : 16px;
}

/* * {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
} */
html {
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
        Neue, 'Noto Sans KR', Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
  
body {
    min-width: 1240px;
}
h1,h2,h3,h4,h5,p,em,strong,b,a {
    color: #8A93A4;
    letter-spacing: -0.03em;
}

input,
select {
    background-color: #fff;
    border: 1px solid #CED3D9;
    border-radius: 4px;
    height: 26px;
    box-sizing: border-box;
    padding: 0 4px;
    color: #111418;
}
input::placeholder,
select::placeholder {
    color: #CED3D9;
}
select {
    padding-right: 20px;
    background: #FFFFFF url(../img/select_arr.svg) right 4px center/16px no-repeat;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
}


.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.inner2 {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.flex-r {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.flex-x {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.flex-c {
    align-items: center;
}

[class^="btn-"] {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 0;
    min-width: 63px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-type2 {
    padding: 0 20px;
}
.btn-black {
    background: #111418;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-primary {
    background-color: #1760F0;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-grey {
    background-color: #8A93A4;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-line {
    background-color: #fff;
    border: 1px solid #8A93A4;
    border-radius: 4px;
    color: #8A93A4;
    height: 26px;
    line-height: 20px;
    min-width: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}


/* SECTION -- GNB */
.GNB {
    height: 43px;
    border-bottom: 1px solid #DEE1E7;
    box-sizing: border-box;
}
.GNB .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.GNB .logo a {
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) center/cover no-repeat;
    width: 84px;
    height: 21px;
}

.GNB .menu li {
    display: inline-block;
    height: 43px;
    border-top: 2px solid transparent;
    box-sizing: border-box;
    margin: 0 10px;
}
.GNB .menu li.ac {
    border-color: #1760F0;
}
.GNB .menu li a {
    text-decoration: none;
    line-height: 43px;
    font-size: 14px;
}
.GNB .menu li.ac a {
    color: #111418;
    font-weight: bold;
}

.GNB .etc {
    display: flex;
    align-items: center;
}
.GNB .etc .name span {
    font-weight: bold;
    color: #111418;
}
.GNB .etc .setting {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/setting.svg) center/cover no-repeat;
    text-indent: -9999px;
    margin-left: 10px;
}
.GNB .etc .logout {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/logout.svg) center/cover no-repeat;
    text-indent: -9999px;
    margin-left: 10px;
}

/* SECTION -- FILTER */
.filter {
    background-color: #7AACFE;
    padding: 10px 0;
}
.filter .inner {
    display: flex;
    align-items: center;
    min-height: 90px;
}
.filter .inner.flexWrap {
    flex-wrap: wrap;
}
.filter .inner.flexWrap .filter-item {
    margin-right: 30px;
    margin-bottom: 10px;
}

.filter .filter-form {
    display: flex;
    align-items: center;
}
.filter label {
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    /* margin-bottom: 5px; */
}
.filter select,
.filter input {
    width: 112px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    padding: 0 4px;
    padding-right: 20px;
    border: 0;
}
.filter select + select,
.filter-form > * {
    margin-left: 4px;
}
.filter-item + .filter-item {
    /* margin-left: 28px; */
}
.filter-form > *:first-child {
    margin-left: 0;
}
.filter-btnWrap {
    padding-top: 26px;
}
.filter-btnWrap button {
    height: 26px;
    line-height: 24px;
    padding: 0 20px;
    margin-left: 0;
}
.item-search {
    display: flex;
    align-items: center;
}
.item-search input {
    width: 286px;
    height: 26px;
    line-height: 26px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-right: 10px;
    margin-left: 15px;
    box-sizing: border-box;
    outline: 0;
    border-radius: 0;
    padding-left: 0;
}
.item-search::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-date {
    position: relative;
}
.input-date::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/input-date.svg) center/cover no-repeat;
}
.input-date input[type="date"] {
    padding-right: 25px;
}

/* GRID */
.grid-btnWrap {
    margin-top: 16px;
    margin-bottom: 16px;
}
.gridWrap .grid {
    width: 100%;
    table-layout: fixed;
}
.gridWrap .grid tr:hover td {
    background-color: #E1ECFF;
}
.gridWrap .grid th {
    border-top: 1px solid #DEE1E7;
    border-bottom: 1px solid #DEE1E7;
    height: 35px;
    box-sizing: border-box;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    padding-right: 4px;
}
.gridWrap .grid td {
    color: #8A93A4;
    text-align: center;
    padding: 8px 4px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gridWrap .grid .true {
    color: #1760F0;
}
.gridWrap .grid a {
    color: #1760F0;   
    text-decoration: none;
}
.gridWrap .grid a:hover {
    text-decoration: underline;
}
.gridWrap .grid input[type="checkbox"] {
    margin: 0 auto;
}

input[type="checkbox"] {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #8A93A4;
    border-radius: 2px;
    box-sizing: border-box;
    background: #fff;
}
input[type="checkbox"]:checked {
    background: #fff url(../img/bg-checked.svg) center/12px no-repeat;
}



/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(85, 85, 85, 0.5);
}
.modal.ac {
    display: block;
}

.modal-pop {
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    min-width: 320px;
    background-color: #fff;
    border-radius: 5px;
}

/* MODAL-NEW REG */
.modal-pop.modal-newReg {
    /* width: 376px; */
}

.modal-header {
    height: 35px;
    background-color: #1760F0;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.modal-header .tit {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.modal-header .modal-close {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/modal_close.svg) center/cover no-repeat;
}

.modal-body {
    padding: 16px;
}

.modal-body .btn-wrap {
    margin-top: 16px;
}
.modal-body .btn-wrap button {
    margin-left: 4px;
}
.modal-newReg table {
    table-layout: fixed;
    width: 100%;
    margin-top: -4px;
    margin-bottom: -4px;
}

.modal-newReg table th {
    width: 60px;
    text-align: left;
    font-weight: 400;
}
.modal-newReg table input,
.modal-newReg table select {
    width: 100%;
}

.modal-newReg table th,
.modal-newReg table td {
    padding: 4px 0;
}



/* SCRIPT DETAIL */
.page-back {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.page-back i {
    width: 24px;
    height: 24px;
    background: url(../img/page_back_arr.svg) center/cover no-repeat;
    text-indent: -9999px;
}
.page-back span {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #111418;
    margin-left: 9px;
}

.detail-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
}

.thumb-info {
    background: #f5f5f5;
    padding: 10px 16px;
    min-height: 78px;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.thumb-info dl {
    flex: 1 0 auto;
    padding-right: 10px;
    box-sizing: border-box;
}
.thumb-info dt {
    color: #8A93A4;
    margin-bottom: 10px
}
.thumb-info dd {
    color: #111418;
}
.script-detail h1 {
    font-size: 13px;
    font-weight: bold;
    color: #111418;
}
.script-list {
    width: 33.3%;
    padding-right: 16px;
    box-sizing: border-box;
    border-right: 1px solid #DEE1E7;
    min-height: calc(100vh - 200px);
}
.script-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.script-list .list-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.script-list .list-btn i {
    width: 24px;
    height: 24px;
    background: url(../img/ic_list.svg) center/cover no-repeat;
    margin-right: 4px;
}
.script-list-body li a {
    display: block;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}
.script-list-body li a:hover,
.script-list-body li.ac a {
    background-color: #E1ECFF;
    color: #111418;
}

.script-con {
    width: 66.6%;
    padding-left: 16px;    
}
.script-con-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DEE1E7; 
    padding-bottom: 4px;  
    margin-bottom: 16px;
}
.script-con-header button {
    height: 24px;
    line-height: 22px;
}

.script-con-body {

}
.script-con-body .con-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.script-con-body .con-title h2 {
    font-size: 13px;
    font-weight: bold;
    color: #111418;
}
.script-con-body .con-title input {
    width: calc(100% - 70px);
}
.script-con-body .con-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.script-con-body .con-set h2 {
    font-size: 13px;
    font-weight: bold;
    color: #111418;
}
.script-con-body .con-set button {
    height: 26px;
    line-height: 22px;
    font-weight: bold;
}

.btn-script-common {
    background-color: #083378;
    color: #fff;
}
.btn-script-report {
    background-color: #EAEEF4;
    color: #1760F0;
}
.btn-script-guide {
    background-color: #23CEC6;
    color: #fff;
}
.btn-script-reading {
    background: #7AACFE;
    color: #fff;
}
.btn-script-tts {
    background-color: #BABABA;
    color: #fff;
}

.con-contents {
    border: 1px solid #DEE1E7;
    background-color: #f5f5f5;
    padding: 16px;
    min-height: calc(100vh - 400px);
}
.con-contents [class^="con-"] {
    margin-bottom: 16px;
}
.con-contents [class^="con-"] p {
    color: #1760F0;
}
.con-contents [class^="con-"] .tit {
    padding: 0 8px;
    line-height: 26px;
}
.con-contents .remove,
.con-contents .listen,
.con-contents .insert,
.con-contents .delete {
    border: 1px solid #CED3D9;
    height: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 37px;
    padding: 0 10px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #8A93A4;
    box-sizing: border-box;
}
.con-contents .remove::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: url(../img/ic_remove.svg) center/contain no-repeat;
    margin-right: 4px;
}
.con-contents .listen::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: url(../img/ic_listen.svg) center/cover no-repeat;
    margin-right: 4px;
}
.con-contents .insert::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: url(../img/ic_insert.svg) center/cover no-repeat;
    margin-right: 4px;
}
.con-contents .delete {
    text-indent: -9999px;
    background: #fff url(../img/ic_trash.svg) center/24px no-repeat;
}
.con-contents .con-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}
.con-contents .condition {
    display: inline-block;
}
.con-contents .condition select {
    width: 112px;
}
.con-contents .condition input {
    width: 280px;
}
.con-contents textarea,
.con-contents .textarea {
    width: 100%;
    background-color: #fff;
    border: 1px solid #CED3D9;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    color: #111418;
}
.con-contents .textarea {
    height: 73px;
    margin-bottom: 4px;
    overflow-y: auto;
    line-height: 1.4;
}
.con-contents .textarea mark {
    color: #1760F0;
    background: none;
}

/* MODAL-RECODING */
.modal-recoding h2 {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #111418;
    margin-bottom: 10px;
}
.modal-recoding .play_file {
    margin-left: 25px;
    color: #8A93A4;
}
.modal-recoding .thumb-info {
    display: block;
    margin-left: -16px;
    margin-right: -16px;
}
.modal-recoding .thumb-info dl {
    float: left;
    width: 25%;
}
.modal-recoding .gridWrap {
    border-bottom: 1px solid #DEE1E7;
}
.modal-recoding table .need {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #1760F0;
    text-indent: -9999px;
    border-radius: 50%;
    margin: 0 auto;
}
.modal-recoding table .depth-2 {
    padding-left: 14px;
}
.modal-recoding .player {
    padding: 16px;
    border: 1px solid #DEE1E7;
    background-color: #f5f5f5;
}
.modal-recoding .track {
    display: flex;
}
.modal-recoding .track + .track {
    margin-top: 27px;
}
.modal-recoding .profile {
    width: 40px;
    text-align: center;
    margin-right: 16px;
}
.modal-recoding .profile-img {
    width: 24px;
    height: 24px;
    background: url(../img/ic_profile_line_black.svg) center/cover no-repeat;
    margin: 0 auto;
}
.modal-recoding .profile-name {
    color: #8A93A4;
    margin-top: 8px;
    display: block;
}
.modal-recoding .waveObj {
    height: 42px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.modal-recoding .waveObj .obj_key {
    width: 4px;
    margin-right: 2px;
    height: 100%;
    display: inline-flex;
}
.modal-recoding .waveObj .obj_key .obj_key_left,
.modal-recoding .waveObj .obj_key .obj_key_right {
    height: auto;
    width: 50%;
}
.modal-recoding .waveObj .obj_key .obj_key_value {
    display: inline-block;
    width: 100%;
    max-height: 100%;
    background: linear-gradient(180deg, #0BF0FF 0%, #45A6FF 100%);
    height: 100%;
}
.modal-recoding .btn_group {
    display: flex;
}
.modal-recoding .icon_volume,
.modal-recoding .btn_style {
    width: 24px;
    height: 24px;
}
.modal-recoding .btn_prev {background: url(../img/player_btn_prev.svg) center/16px no-repeat;}
.modal-recoding .btn_start {background: url(../img/player_btn_start.svg) center/16px no-repeat;}
.modal-recoding .btn_stop {background: url(../img/player_btn_stop.svg) center/16px no-repeat;}
.modal-recoding .btn_next {background: url(../img/player_btn_next.svg) center/16px no-repeat;}
.modal-recoding .icon_volume {background: url(../img/player_btn_volume.svg) center/16px no-repeat;}

.modal-recoding .play_toggle .btn_stop,
.modal-recoding .play_toggle.on .btn_start {
    display: block;
}

.modal-recoding .play_toggle.on .btn_stop,
.modal-recoding .play_toggle .btn_start {
    display: none;
}

.modal-recoding .btn_speed input {
    border: 0;
    margin-top: 0;
    text-indent: 0;
    height: 24px;
    line-height: 24px;
    background: transparent;
    width: 36px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, 'Noto Sans KR', Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.modal-recoding .player_controller {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.modal-recoding .btn_group > * {
    margin-right: 8px;
}
.modal-recoding .btn_group > *:last-child {
    margin-right: 0;
}
.modal-recoding .center_control {
    display: flex;
    align-items: center;
}
.modal-recoding p.play_time {
    color: #8A93A4;
}

.modal .player_control {
    position: relative;
    width: 345px;
    height: 12px;
    margin: 0 8px;
}
.modal .player_control .play_bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    background-color: #DEE1E7;
    border-radius: 5px;
    height: 4px;
}
.modal .player_control .play_value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    max-width: 100%;
    background-color: #1760F0;
    border-radius: 5px;
    height: 4px;
}
.modal .player_control .play_location {
    position: absolute;
    top: 1px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transform: translate(-5px -5px);
    background-color: #1760F0;
    border-radius: 5px;
    margin-left: -5px;
}